{% extends 'TitanKillerCrudBundle:Contract:base.html.twig' %}


{% block content %}
<div class="span8 well">
    <h1>Welcome to the Killer Crud Demo</h1>
    
    <p>
       This bundle is to demonstrate how easy basic crud scaffolding is with
       Symfony and Doctrine.
    </p>
    
    <p>
      It also shows how to override basic theme functions to customize form output and control
      the markup used when building forms.
    </p> 
        
    
    
</div>



{% endblock %}